# CineWindows - Video Player
# Copyright (c) 2026 Ritesh Pandit
#
# CineWindows Community License
#
# This source code is made available for personal, non-commercial
# use only. Organizations may not use, copy, modify, or distribute
# this code without written permission from Ritesh Pandit.
#
# See the LICENSE.md file for full license terms.
#
# Project: CineWindows
# Author:  Ritesh Pandit
# Last modified: 2026-09-10
# Modified by: Ritesh Pandit

[Desktop Entry]
Type=Application
Name=CineWindows
GenericName=Media Player
Comment=Modern high-performance media player
TryExec=CineWindows
Exec=CineWindows %U
Icon=com.gyrolet.CineWindows
Categories=AudioVideo;Player;
Terminal=false
StartupNotify=true
StartupWMClass=CineWindows
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;audio/mpeg;audio/flac;audio/ogg;audio/x-wav;application/ogg;application/vnd.apple.mpegurl;application/x-mpegurl;
